[user]
	name = Raul P
	email = florian.rand@gmail.com

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[pull]
    rebase = true

[bash]
    showinformative = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
