[submodule "zsh/completion/external"]
	path = zsh/completion/external
	url = https://github.com/zsh-users/zsh-completions

[submodule "bash/bash-sensible"]
	path = bash/bash-sensible
	url = https://github.com/mrzool/bash-sensible

[submodule "zsh/plugins/forgit"]
	path = zsh/plugins/forgit
	url = https://github.com/wfxr/forgit
