[submodule "zsh/prompt/pure"]
	path = zsh/prompt/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/completion/external"]
	path = zsh/completion/external
	url = https://github.com/zsh-users/zsh-completions
