* {
  font-family: "Hack Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: #181b20;
  color: #a0a8b7;
}

.modules-left {
  padding: 0px 0px 0px 0px;
}

.modules-right {
  padding: 0px 10px 0px 0px;
}

.modules-center {
  padding: 0px 15px;
}

#workspaces {}

#workspaces button {
  padding: 0px 8px;
  min-width: 1px;
  color: #a0a8b7;
}

#workspaces button.focused {
  padding: 0px 8px;
  background-color: #30363f;
  color: #a0a8b7;
}

#mode {
  background-color: #900000;
  color: #ffffff;
  padding: 0px 5px 0px 5px;
  border: 1px solid #2f343a;
}

#window {
  color: #a0a8b7;
  padding: 0px 10px;
  margin-left: 5px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.empty {
  background-color: #181b20;
}

#custom-zypper,
#network,
#temperature,
#backlight,
#pulseudio,
#battery {
  padding: 0px 12px;
}

#clock {
  margin: 0px 15px;
}

#tray {
  padding: 0px 8px;
  margin: 0px 5px;
}

#battery.critical {
  color: #ff5555;
}

#network.disconnected {
  color: #ff5555;
}
